<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/book_form' %>
      </section>
    </aside>
    <div class="span9">
      <div class="row">
        <div class="span9">
         
          
          <% if @info != nil %>
            <%= render 'shared/ol_return' %>
          
          <% end %>
        </div>
          <div class="span9">
            <%= render 'shared/feed' %>
          </div>
      </div>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
        <h1>Mi Codex</h1>
        <h2>A book cataloging system</h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        <p>A simple to use service that allows you to create and maintain your personal library.</p>
</div>
<div class="row gray_box extendfull extendleft extendright">
  
  <div class="span4 extendfull extendleft">
    <p class="text-center"><%= image_tag('pencil.png', :size => "25x25", :alt => "Pencil") %></p>
    <h4 class="text-center">1. Sign Up</h4>
    <p>It is simple, just sign up with your name and email address and your secure library will be created. We will not share your information with anybody, and we will not email you without your permission.</p>
  </div>
  
  <div class="span4">
    <p class="text-center"><%= image_tag('book.png', :size => "25x25", :alt => "Open Book") %></p>
    <h4 class="text-center">2. Add Books</h4>
    <p>Adding books could not be simpler.  You can use the quick search to easily add books based on ISBN, Title, or author.  You also have the option to add book information manually.  You can easily edit book information if you need to update or correct any mistakes. </p>
  </div>

   <div class="span4 extendfull extendright">
    <p class="text-center"><%= image_tag('book_stack.png', :size => "25x25", :alt => "Stack of Books") %></p>
    <h4 class="text-center">3. Manage Books</h4>
    <p>Mi Codex's libraries can easily be searched and sorted in a variety of ways, making getting the information you need easier.  Your libraries information is secure and safe.  </p>
    <p class="text-center"><%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %></p>
  </div>

</div>
<div class="row quote">
    <blockquote class="text-center">
    <p class="text-center"><em>"A library is not a luxury but one of the necessities of life."</em></p>
    <small> Henry Ward Beecher</small>
    </blockquote>

</div>


 <% end %>


 