<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/book_form' %>
      </section>
    </aside>
    <div class="span9">
      <div class="row">
        <div class="span9">
         
          
          <% if @info != nil %>
            <%= render 'shared/ol_return' %>
          
          <% end %>
        </div>
          <div class="span9">
            <%= render 'shared/feed' %>
          </div>
      </div>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
        <h1>Mi Codex</h1>
        <h2>A book cataloging system</h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        <p>A simple to use service that allows you to create and maintain your personal library.</p>
</div>
<div class="row gray_box extendfull extendleft extendright">
  
  <div class="span4 extendfull extendleft">
    <p class="text-center"><%= image_tag('pencil.png', :size => "25x25", :alt => "Pencil") %></p>
    <h4 class="text-center">1. Sign Up</h4>
    <p>It is simple, just sign up with your name and email address and your secure library will be created. We will not share your information with anybody, and we will not email you without your permission.</p>
  </div>
  
  <div class="span4">
    <p class="text-center"><%= image_tag('book.png', :size => "25x25", :alt => "Open Book") %></p>
    <h4 class="text-center">2. Add Books</h4>
    <p>Adding books could not be simpler.  You can use the quick search to easily add books based on ISBN, Title, or author.  You also have the option to add book information manually.  You can easily edit book information if you need to update or correct any mistakes. </p>
  </div>

   <div class="span4 extendfull extendright">
    <p class="text-center"><%= image_tag('book_stack.png', :size => "25x25", :alt => "Stack of Books") %></p>
    <h4 class="text-center">3. Manage Books</h4>
    <p>Mi Codex's libraries can easily be searched and sorted in a variety of ways, making getting the information you need easier.  Your libraries information is secure and safe.  </p>
    <p class="text-center"><%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %></p>
  </div>

</div>
<div class="row quote">
    <blockquote class="text-center">
    <p class="text-center"><em>"Libraries were full of ideas–perhaps the most dangerous and powerful of all weapons.”</em></p>
    <small> Sarah J. Maas, <cite title="Source Title">Throne of Glass</cite></small>
    </blockquote>

</div>
<div class="row about">
  <div class="span8">
    <h1 class="text-left">Mi Codex</h1>
      <p class="lead">Mixtape literally ugh, Truffaut gastropub distillery Brooklyn chillwave umami slow-carb Marfa Tumblr drinking vinegar four loko. Bushwick typewriter swag, ugh twee craft beer cardigan next level Portland butcher mustache disrupt gastropub kogi vegan.</p>
      <div class="row">
    <div class="span4">
      <p>Cosby sweater gentrify tofu Thundercats Godard, pug plaid tousled master cleanse disrupt chia raw denim. Truffaut organic Blue Bottle aesthetic, tofu Etsy Banksy next level raw denim fap cardigan American Apparel Bushwick. Godard shabby chic 90's bicycle rights keffiyeh selfies. Salvia cornhole Intelligentsia Marfa vegan farm-to-table readymade. Actually drinking vinegar Echo Park mlkshk semiotics whatever. Blue Bottle art party beard, meggings you probably haven't heard of them shabby chic raw denim Truffaut Vice whatever DIY Williamsburg McSweeney's Brooklyn gastropub. Sustainable gluten-free Thundercats chambray.</p>
    </div>
    <div class="span4">
      <p>Meh narwhal single-origin coffee chillwave Pinterest, tofu +1 art party disrupt jean shorts wayfarers squid. Mustache occupy keytar mixtape try-hard blog. Fap street art +1 paleo lomo. Echo Park PBR forage irony craft beer, Portland flannel actually paleo street art High Life. Single-origin coffee Pitchfork hoodie butcher flexitarian. Church-key polaroid Austin retro bitters, direct trade selfies narwhal tofu freegan keytar. Terry Richardson actually whatever High Life banjo, iPhone dreamcatcher bespoke cornhole cardigan Blue Bottle irony leggings pickled meggings.</p>
    </div>
    </div>
  </div>

  
    <%= image_tag('book_stack.jpg', :alt => "Stack of Books", :class => "img-btm") %>
  
</div>

 <% end %>


 