<%= form_tag ('/add') do  %>
		<h1>Add A Book</h1>
      <%= label_tag 'data', 'Search By:' %>
      <%= select_tag 'data', options_for_select( @data_types, @selected_data) %>

      <%= text_field_tag 'info' %>
      
     
      <%= submit_tag "Find Book", class: "btn btn-primary" %>
    

<% end %>
