<% if @feed_items.any? %>
  <%= form_tag books_path, class: "navbar-form pull-right", method: :get do  %>
    <%= text_field_tag :query, params[:query], class: "span2" %>
    <%= submit_tag "Search", :name => nil, class: "btn" %><br /><br />
  <% end %>

  <% if params[:query].present? %>
      <%= render 'shared/search' %>
  <% end %>
  <h3>Library (<%= @feed_items.count %>)</h3>
    <table class="table table-bordered table-hover library">
      <tr>
        <%= render 'shared/table_head' %>

      </tr>

        <% @feed_items.each do |book| %>
          <tr>

            <td><%= image_tag("http://covers.openlibrary.org/b/isbn/"+book.isbn+"-S.jpg") %></td>
  			    <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.publisher %></td>
            <td><%= book.copyright %></td>
            <td><%= book.genre %></td>
            <td><%= book.isbn %></td>
            <td><%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure?" }, title: book.title %>/<%= link_to "Edit", edit_book_path(book.id) %></td>
          </tr>
        <% end %>
  	 </table>
      
  		<%= will_paginate @feed_items %>
<% end %>




